@font-face {
    font-family: 'TT Travels';
    src: url('./fonts/TTTravels/TTTravels-Medium.eot');
    src: local('TT Travels Medium'), local('TTTravels-Medium'),
        url('./fonts/TTTravels/TTTravels-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTTravels/TTTravels-Medium.woff') format('woff'),
        url('./fonts/TTTravels/TTTravels-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('./fonts/TTTravels/TTTravels-DemiBold.eot');
    src: local('TT Travels DemiBold'), local('TTTravels-DemiBold'),
        url('./fonts/TTTravels/TTTravels-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTTravels/TTTravels-DemiBold.woff') format('woff'),
        url('./fonts/TTTravels/TTTravels-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('./fonts/TTTravels/TTTravels-Bold.eot');
    src: local('TT Travels Bold'), local('TTTravels-Bold'),
        url('./fonts/TTTravels/TTTravels-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTTravels/TTTravels-Bold.woff') format('woff'),
        url('./fonts/TTTravels/TTTravels-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #121212;
  font-family: 'Roboto Condensed', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-size: clamp(1.06rem, calc(1.05rem + 0.05vw), 1.09rem); */
  /* letter-spacing: 0.1em; */
  color: #fff;
  line-height: 1.5;
}

h1 {
  font-family: 'TT Travels';
  font-weight: 600;
  font-style: normal;
  /* font-size: clamp(2.57rem, calc(2.11rem + 2.31vw), 3.84rem); */
  font-size: 2rem;
  line-height: 1.3;
}

h1 span {
  color: #a234e2;
}

h2 {
  font-family: 'TT Travels';
  font-weight: 600;
  font-style: normal;
  /* font-size: clamp(1.42rem, calc(1.34rem + 0.42vw), 1.66rem); */
  font-size: 1.875rem;
  margin-top: 0;
  line-height: 1.3;
} 

h3 {
  font-family: 'TT Travels';
  font-weight: 500;
  font-style: normal;
  /* font-size: clamp(1.19rem, calc(1.16rem + 0.17vw), 1.29rem); */
  font-size: 1.25rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

header {
  margin-top: 24px;
}

.label {
  font-family: 'TT Travels';
  font-weight: 600;
  font-style: normal;
  /* font-size: clamp(1.134rem, calc(1.100rem + 0.173vw), 1.229rem); */
  font-size: 1.25rem;
  color: #a234e2;
  letter-spacing: .35rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo {
  display: block;
}

.logo img {
  width: 80px;
}

.lang {
  width: 49px;
  height: 49px;
  border-radius: 100px;
  background-color: #FF7C94;
  position: relative;
}

.lang::before {
  content: '';
  position: absolute;
  background-image: url('uk_flag.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 49px;
  height: 49px;
  border-radius: 100px;
}

/* Mobile menu */

.mobile div {
    display: block;
    position: fixed;
    top: 22px;
    right: 24px;
    height: 50px;
    width: 50px;
    z-index: 9999999;
}

.mobile div span {
    display: block;
    position: absolute;
    right: 0;
    width: 30px;
    height: 4px;
    background: linear-gradient(to left, #c03ffc, #731fb5 100%);
}

.mobile div span:nth-child(1) {
    top: 14px;
    width: 23px;
}

.mobile div span:nth-child(2) {
    top: 23px;
    width: 29px;
}

.mobile div span:nth-child(3) {
    bottom: 14px;
    width: 35px;
}

.mobile div.active span:nth-child(1) {
    /* transform: translate(-15px, 9px) rotate(-45deg); */
    transform: translate(5px, 11px) rotate(-45deg);
    width: 35px;
}

.mobile div.active span:nth-child(2) {
    transition-duration: 0s;
    opacity: 0;
}

.mobile div.active span:nth-child(3) {
    /* transform: translate(-15px, -9px) rotate(45deg); */
    transform: translate(6px, -6px) rotate(45deg);
}

.mobile nav {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 9999990;
    transition-duration: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mobile nav.open {
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    right: 0px;
    bottom: 0px;
    border-radius: 0;
}

.mobile nav ul {
    display: none;
}

.mobile nav ul.show {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mobile ul li:not(:last-child) {
    margin-bottom: 50px;
}

.mobile ul li:nth-child(3) {
  margin-bottom: 60px;
}

.mobile ul li:nth-child(4) {
  margin-bottom: 30px;
}

@keyframes fadein {
    0% {
        opacity: 0;
         
    }
    100% {
        opacity: 1;
    }
}

/* End Mobile menu */

.desktop {
  display: none;
}

section:not(:first-child) {
  margin-top: 80px;
}

.wrapper {
  max-width: 1440px;
  padding-inline: 24px;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.hero-text {
  max-width: 630px;
  margin-top: 50px;
}

.hero-text p {
  margin-bottom: 22px;
}

.circle {
  min-width: 327px;
  max-width: 564px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  display: block;
  padding: 14px 30px 14px 30px;
  border-radius: 100px;
  max-width: 250px;
  width: fit-content;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}

.hero-content .button {
  max-width: 140px;
}

.button-main {
  background-color: #8c00dd;   
  /* background-color: #1E4DF3;    */
  color: #fff;
}

.button-secondary {
  background-color: #fff;
  color: #070707;
}

.button-ghost {
  background: transparent;
  border: 1px solid #8c00dd;
  padding: 14px;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 24px;
}

/* Feature card */

.feature {
  padding: 44px 22px 41px 22px;
  border-radius: 55px;
  background: linear-gradient(-47deg, #323232e8, #494949 100%);
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 327px;
}

.feature::after,
.step::after,
.pricing-card::after,
.feedback::after,
.form-wrapper::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(144deg, #a234e2, rgb(255 125 149 / 13%) 100%);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 55px;
  z-index: -1;
  padding: 1px;
}

.feature::before {
  content: '';
  position: absolute;
  bottom: 32px;
  right: 22px;
  width: 60px;
  height: 15px;
  background-image: url('arrow.svg');
  background-repeat: no-repeat;
}

/* End Feature card */

.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 24px;  
}

.step-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.step-num {
  font-family: 'Inter';
  font-size: 64px;
  line-height: .9;
  color: #a234e2;
}

.step-header h3,
.step p {
  text-align: left;
  margin-bottom: 0;
}

.step-header h3 {
  margin: 0;
}

/* Steps card */

.step {
  padding: 44px 35px 41px 35px;
  border-radius: 55px;
  background: linear-gradient(-47deg, #323232e8, #494949 100%);
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 365px;
}

/* End Steps Card */

.pricing-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 24px;  
}

/* Pricing Card */

.pricing-card {
  border-radius: 55px;
  background: linear-gradient(-47deg, #323232e8, #494949 100%);
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 327px;
}

.pricing-card .button {
  width: 100%;
}

.pricing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(217, 217, 217, .1);
}

.popular {
  font-family: 'TT Travels';
  font-size: 14px;
  font-weight: 600;
  color: #a234e2;
  letter-spacing: .35rem;
}

.pricing-title {
  font-family: 'TT Travels';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .1rem;  
}

.pricing-options {
  padding: 20px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  margin-bottom: 24px;
}

.option-name {
  font-family: 'TT Travels';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .1rem;    
}

.option-value {
  font-weight: 500;
}

/* End Pricing Card */

.cta {
  background-color: #8c00dd;
  padding: 30px 40px 30px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 42px;
  text-align: center;
  margin-top: 80px;
}

.two-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#accessibility .text {
  width: 100%;
  max-width: 515px;
}

#accessibility .button {
  max-width: 327px;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  max-width: 350px;
}

.img-wrapper img {
  width: 100%;
}

.cta-2 {
  text-align: center;
}

.cta-2 p {
  margin-bottom: 30px;
}

.cta-2 .buttons {
  justify-content: center;
}

.feedbacks {
  display: flex;
  justify-content: center;
}

/* Feedback Card */

.feedback {
  padding: 44px 22px 41px 22px;
  border-radius: 55px;
  background: linear-gradient(-47deg, #323232e8, #494949 100%);
  text-align: center;
  position: relative;
  width: 100%;
}

/* End Feedback Card */

#contact .text {
  max-width: 422px;
  width: 100%;
}

.form-wrapper {
  padding: 40px 40px 50px 40px;
  border-radius: 55px;
  background: linear-gradient(-47deg, #323232e8, #494949 100%);
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 622px;
  display: flex;
  flex-direction: column;
}

.fields-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}

.form-field label {
  margin-left: 15px;
  text-align: left;
}

input[type="submit"] {
  display: block;
  padding: 14px 30px 14px 30px;
  border-radius: 100px;
  font-weight: 700;
  text-align: center;  
  background-color: #8c00dd;
  color: #fff;
  border: none;
  width: fit-content;
}

input, 
select {
  background-color: #222;
  border: none;
  border-radius: 43px;
  width: 100%;
  max-width: 247px;
  height: 48px;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

select {
  appearance: none;
  background-image: url('select-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 35px;
}

select option {
  width: 117px;
}

select option:hover {
  background-color: #a234e2 !important;
}

input:focus,
select:focus {
  outline: #a234e2 solid 1px;
}

label {
  font-family: 'TT Travels';
  font-weight: 600;
}

footer {
  margin-top: 80px;
}

footer .logo {
  margin-top: 10px;
  margin-bottom: 80px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.disclaimer {
  margin-top: 0;
}

.sticky-bar {
  width: 100%;
  height: 50px;
  background-color: #8c00dd;
  position: fixed;
  bottom: 0;
  padding: 10px;
  text-align: center;
  font-family: 'TT Travels';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .1rem;
  z-index: 1;
}


@media screen and (min-width: 654px) {
  .fields-group {
    gap: 25px;
  }

  .footer-content {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .desktop ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }

  .desktop ul li {
    font-family: 'TT Travels';
    font-size: 16px;
    font-weight: 500;
  }

  .desktop .additional {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .desktop .button {
    width: 117px;
  }

 .cta .cta-text {
  width: 75%;
  text-align: left;
 }

 .cta .button {
  width: auto;
 }
}

@media screen and (min-width: 960px) {
 
  section:not(:first-child) {
    margin-top: 160px;
  }

  .hero-content {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .img-wrapper {
    max-width: 490px; 
  }

  .accessibility .text {
    max-width: 400px;
  } 
}

@media screen and (min-width: 1400px) {
  /* section:not(:first-child) {
    margin-top: 220px;
  } */
}
